html {
    font-size: 100%;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: var(--font-inter);
    background-color: var(--background);
    color: var(--text-color1);
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}