@use '../util' as u;

.toggle {
    display: flex;
    gap: u.rem(13);

    legend {
        font-size: u.rem(14);
    }

    &__wrapper {
        display: flex;
        height: u.rem(24);
        position: relative;
    }

    input[type="radio"] {
        opacity: 0;
        z-index: 2;
        position: relative;
        height: u.rem(24);
        width: u.rem(24);

        &:focus ~ .toggle__button {
            border: 2px solid #fff;
        }
    }

    &__background {
        position: absolute;
        top: 0; 
        left: 0;
        right: 0; 
        bottom: 0;
 
        border-radius: u.rem(12);
        background-image: linear-gradient(
            22deg, 
            var(--toggle-bg-start), 
            var(--toggle-bg-end)
        );
    }

    &__button {
        position: absolute;
        top: 3px;
        left: 3px;
        width: u.rem(18);
        height: u.rem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button {
        left: calc(100% - 21px);
    } 
}