@use '../util' as u;

.toggle {

    display: grid;
    grid-template-columns: repeat((3, auto));
    grid-template-rows: repeat(2, auto);
    gap: u.rem(4.8) u.rem(8);

    label {
        font-size: u.rem(14);
        align-self: center;

        &[for="dark"] {
            grid-column: 1/2;
        }

        &[for="system"] {
            grid-column: 2/3;
            grid-row: 2/3;

            align-self: start;
        }

        &[for="light"] {
            grid-column: 3/4;
        }


    }

    &__wrapper {
        height: u.rem(24);
        grid-column: 2/3;
        grid-row: 1/2;
        position: relative;
    }

    input[type="radio"] {
        opacity: 0;
        z-index: 2;
        position: relative;
        height: u.rem(20);
        width: u.rem(20);
        margin: 0 -2px 0 -2px;

        &:focus ~ .toggle__button {
            border: 2px solid #fff;
        }
    }

    &__background {
        position: absolute;
        top: 0; 
        left: 0;
        right: 0; 
        bottom: 0;
 
        border-radius: u.rem(12);
        background-image: linear-gradient(
            22deg, 
            var(--toggle-bg-start), 
            var(--toggle-bg-end)
        );
    }

    &__button {
        position: absolute;
        top: 3px;
        left: 3px;
        width: u.rem(18);
        height: u.rem(18);
        border-radius: 50%;
        background-color: var(--dark-bg);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button {
        left: calc(100% - 21px);
    } 

    #system:checked ~ .toggle__button {
        left: 50%;
        transform: translateX(-50%);
    }
}